*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container-fluid{
    display: flex;
    background-color:#2741E8;

}

.container{  
   
    
    margin: 10px; 
    padding:10px; 
    
}

.btnNv {
    display: inline;
    margin: 0.6rem;
    padding: 2rem;
    font-size: 20px;
    color: white;
    text-decoration: none;

}

.btnNv:hover{
   color: black;
   background-color: #18236B; 
   border-radius: 15%;  
}